<!--
  Generated template for the Saran page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Saran Mata Kuliah</ion-title>
          <ion-buttons end>
            <button ion-button icon-only color="royal" (tap)="predictSaran()">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
    </ion-toolbar>

</ion-header>

<ion-content padding>
  <p style="font-size:25px" text-center>Mata Kuliah Yang Disarankan</p>
  <div *ngIf="suggested">
    <div *ngFor='let item of items'>
      <ion-card>
        <ion-card-header text-center>
          {{ item.mataKuliah.kode_mata_kuliah.toUpperCase() }} - {{ item.mataKuliah.nama_mata_kuliah }}
        </ion-card-header>
        <ion-card-content>
          <div style="font-size:70px" text-center>
            {{ item.nilaiMutu.huruf_mutu }}
          </div>
          Confidence : {{ item.confidence }} %
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div *ngIf="!suggested">
    <p text-center>Silahkan tunggu beberapa saat, kemudian</p>
    <p text-center>Tekan refresh untuk mendapatkan saran</p>
    <ion-buttons text-center>
      <button ion-button icon-only color="royal" (tap)="predictSaran()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </div>
</ion-content>

