<!--
  Generated template for the PredictPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Predict</ion-title>
        </ion-navbar>
    </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-searchbar [(ngModel)]='choosed_item' (ionInput)="getItems($event)" placeholder="Cari Mata Kuliah"></ion-searchbar>
      </ion-col>
      <ion-col col-12>
        <ion-list *ngIf="searchStatus">
          <ion-item *ngFor="let item of items;let i = index">
            <div (tap)="choosedItem(item,i)">
              {{ item }}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Durasi Jam Belajar</ion-label>
            <ion-select [(ngModel)]="studyHour" [selectOptions]="selectOptions">
              <ion-option *ngFor="let hour of hours" [value]="hour">{{ hour }} Jam</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
          <button ion-button (tap)='predictSC()'>Predict</button>
      </ion-col>
    </ion-row>
    <div *ngIf="predictStatus">
      <ion-row>
        <ion-col col-12>
          <div style="display: block">
            <canvas baseChart width="300" height="300"
                        [data]="chartData"
                        [labels]="chartLabels"
                        [chartType]="chartType"
                        [colors]="chartColors"
                          [options]="chartOptions"></canvas>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card>
            <ion-card-header text-center>
                Deskripsi 
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col col-6>
                  <div *ngFor="let huruf of chartLabels;let i=index">
                    <div *ngIf="i<=3">
                      {{ huruf }}<span *ngIf="huruf.length == 1">&nbsp;&nbsp;&nbsp;</span>: {{ chartData[i] }}%
                    </div>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div *ngFor="let huruf of chartLabels;let i=index">
                    <div *ngIf="i>3">
                      {{ huruf }}&nbsp;: {{ chartData[i] }}%
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card>
            <ion-card-header text-center>
                Huruf Mutu 
            </ion-card-header>
            <ion-card-content text-center style="font-size:100px">
              {{ chartLabels[hasilPrediksi] }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
